@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;

.about{
    padding: 1rem;

    
    @include tablet{
        padding: 2rem;
    }

    @include desktop{
        padding: 2rem 5rem;
    }

    &__title{
        text-align: center;
        @include mobile__page-header;

        @include tablet{
            @include tablet__page-header;
        }
    }

    &__text{
        @include mobile__body-medium;
        padding-bottom: 2rem;
        margin: 0 1rem;

        @include tablet{
            @include tablet__body-medium;
            margin: 0 5rem;
        }

        @include desktop{
            @include tablet__body-large;
            margin: 0 10rem;
        }
    }
}