@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;


.wave{
    position: relative;
}
.custom-shape-divider-bottom-1660341457 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1660341457 svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 53px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1660341457 .shape-fill {
    fill: white;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1279px) {
    .custom-shape-divider-bottom-1660341457 svg {
        width: calc(111% + 1.3px);
        height: 81px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1660341457 svg {
        width: calc(142% + 1.3px);
        height: 24px;
    }
}