@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;

.header{
display: flex;
background-color: rgb(65, 65, 65);
width: 100%;
padding-top: 68px;




    &__title{
        color: white;
        padding: 2rem;
        width: 50%;

        @include tablet{
            padding: 4rem
        }
        
    }

    &__subtext{
        @include mobile__body-large;
        margin: 0;

        @include tablet{
            @include tablet__body-large;
        }
    }

    &__text{
        @include mobile__page-header;
        width: 100px;

        @include tablet{
            @include tablet__page-header;
        }
    }

    &__image{
        background-image: url('../../assets/images/hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position:top;
        height: 20rem;
        width: 100%;

        @include tablet{
            height: 25rem;
            background-size: cover;
            width: 32rem;
            
        }
    }
}
